@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

:root {
  --primary-color: #669ccb;
  --primary-color-dark: #5681a7;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;

  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  padding: 5rem 1rem;
 max-width: var(--max-width);
  margin: auto;
}

.section__containr {
  padding: 5rem 1rem;
 max-width: var(--max-width);
  margin-left: 400px;
}

.section__title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
}

.section__subtitle {
  font-size: 1rem;
  font-style: italic;
  color: var(--primary-color);
  margin-bottom: 5rem;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 10px;
}

body {
  font-family: "Outfit", sans-serif;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 1rem;
  width: 100%;
  z-index: 1000;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  text-decoration: none;
  color: var(--extra-light);
  font-size: 1.5rem;
}

.nav__links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  text-align: left;
  list-style: none;
  align-items: center;
  gap: 2rem;
  background: rgba(0, 30, 60, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.link {
  color: var(--extra-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.nav__links a{
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}
.nav__links a:hover{
  color: yellow;
}

.hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger span{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}
.nav__links.active{
    display: flex;
    flex-direction: column;
}

header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#bg-video{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}
.headr{
   height: 100vh;
  background-image: linear-gradient(
      rgba(45, 92, 132, 0.5),
      rgba(45, 92, 132, 0.5)
    ),
    url("../Images/blog-bg-2.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .section__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--extra-light);
}

.header__content h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
}

.header__content p {
  text-align: center;
}

.header__content button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--extra-light);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.header__content button:hover {
  background-color: var(--primary-color-dark);
}

.journey__container {
  background-color: var(--secondary-color);
}

.journey__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.country__card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--extra-light);
  transition: transform 0.3s ease;
}
.country__card:hover{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: scale(1.04);
}
.country__card img{
  border-radius: 12px;
}

.country__name {
  padding: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-light);
  cursor: pointer;
}

.country__name i {
  font-size: 1.2rem;
}

.country__name span {
  color: black;
  font-style: normal;
}

.banner__container {
  background-image: linear-gradient(
      rgba(35, 71, 103, 0.5),
      rgba(35, 71, 103, 0.5)
    ),
    url("../Images/bg-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_container .section_container {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

.banner__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: var(--extra-light);
}

.banner__content h2 {
  font-size: 2rem;
  font-weight: 400;
}

.banner__content button {
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
}

.display__container {
  background-color: var(--secondary-color);
}

.display_container :is(.sectiontitle, .section_subtitle) {
  color: var(--text-dark);
}

.display__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.display__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--extra-light);
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.display__card i {
  font-size: 2rem;
  color: var(--primary-color);
}

.display__card h4 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__card p {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__grid .grid-1 {
  grid-area: 1/1/3/3;
}

footer {
  background-color: var(--text-dark);
  color: var(--secondary-color);
}
.footer__container{
  padding: 1.5rem 1rem;
}

footer .footer__container {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f0c040;
}
footer a {
      color: #fff;
      margin-right: 6px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
    }
    footer a:hover {
      color: #f0c040;
    }

.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social__icons a i {
  padding: 5px;
  font-size: 1.2rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(0);
}
.social__icons a:hover i {
      transform: translateY(-3px);
    }
.social__icons a.facebook:hover i{
  color:#1877f2;
}
.social__icons a.twitter:hover i{
  color:#1DA1F2;
}
.social__icons a.instagram:hover i{
  color: pink;
}
.social__icons a.linkedin:hover i{
  color:#0077B5;
}
.social__icons a.youtube:hover i{
  color:red;
}

footer p {
  font-style: italic;
}

@media (min-width: 640px) {
  .nav__links {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    padding: 0;
    gap: 20px;
  }

    .hamburger {
        display: none;
    }

  header .section__container {
    justify-content: flex-start;
  }

  .header__content {
    max-width: 400px;
    align-items: flex-start;
  }

  .header__content p {
    text-align: left;
  }

  .journey__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .display__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .display__card {
    gap: 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  .display__card i {
    font-size: 1.75rem;
  }

  .display__card h4 {
    font-size: 1rem;
  }

  .display__card p {
    font-size: 0.7rem;
  }

  .headr-1 {
    background-image: linear-gradient(
          rgba(45, 92, 132, 0.5),
          rgba(45, 92, 132, 0.5)
        ),
        url("Images/contact-us-bg-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 300px;
  }
}

@media (min-width: 786px) {
  .banner_container .section_containr {
    justify-content: flex-end;
    margin: auto;
  }

  .banner__content {
    align-items: flex-end;
    text-align: right;
    max-width: 800px;
  }

  .display__card {
    gap: 0.5rem;
  }

  .display__card i {
    font-size: 2.5rem;
  }

  .display__card p {
    font-size: 0.8rem;
  }

  .headr-1 {
    background-image: linear-gradient(
          rgba(45, 92, 132, 0.5),
          rgba(45, 92, 132, 0.5)
        ),
        url("Images/contact-us-bg-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 300px;
  }
}

@media (min-width: 1024px) {

  .banner__content{
    align-items: flex-start;
    text-align: left;
    padding-left: 5rem;
    padding-right: 1rem;
    max-width: 600px; 
  }

  .display__card {
    gap: 1rem;

  }

  .display__card i {
    font-size: 3rem;
  }

  .display__card h4 {
    font-size: 1.5rem;
  }

  .display__card p {
    font-size: 1rem;
  }
  .headr-1{
    background-position: center;
    background-size: cover;
  }
}